﻿@model Tamirhane.Data.CustomerCar

@{
    ViewBag.Title = "Create";
}

<h2>Araç Ekle</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_CustomerCarCreateOrEdit", Model)
}

<div>
    @Html.ActionLink("Müşteri Listesi", "Index", "Customer", null, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
