﻿@model Tamirhane.Data.CustomerCar

@{
    ViewBag.Title = "Edit";
}

<h2>Araç Düzenle</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_CustomerCarCreateOrEdit", Model)
}

<div>
    @Html.ActionLink("Müşteri Listesi", "Index","Customer",null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
