﻿@model Tamirhane.Data.WorkOrder

@{
    ViewBag.Title = "Create";
}

<h2>Yeni İş Emri Oluştur</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_CustomerCarCreateOrEdit", Model)
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
