﻿@model Tamirhane.Data.WorkOrder

@{
    ViewBag.Title = "Edit";
}

<h2>İş Emri Düzenle</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("_CustomerCarCreateOrEdit", Model)
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
