﻿@model IEnumerable<Tamirhane.Data.WorkOrder>

@{
    ViewBag.Title = "İş Emri Listesi";
}

<h2>İş Emri Listesi</h2>

<p>
    @Html.ActionLink("Yeni İş Emri Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCar.Plate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerCar.Plate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Appointment.AppointmentDescription)
            @Html.DisplayFor(modelItem => item.Appointment.AppointmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
