﻿@model Tamirhane.Data.Appointment
@{
    var fullName = "";
    if (Model.Customer !=null)
    {
        fullName = Model.Customer.FullName;
    }
    var plate = "";
    if (Model.CustomerCar != null)
    {
        plate = Model.CustomerCar.Plate;
    }
}

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input id="CustomerAutoComplate" class="form-control" value="@fullName" )>
            @Html.HiddenFor(x => x.CustomerId)
            @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CustomerCarId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input id="CustomerCarIdAutoComplate" class="form-control" value="@plate">
            @Html.HiddenFor(x => x.CustomerCarId)
            @Html.ValidationMessageFor(model => model.CustomerCarId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AppointmentDescription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AppointmentDescription, new { htmlAttributes = new { @class = "form-control " } })
            @Html.ValidationMessageFor(model => model.AppointmentDescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AppointmentDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AppointmentDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
            @Html.ValidationMessageFor(model => model.AppointmentDate, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
