﻿@model Tamirhane.Data.Appointment

@{
    ViewBag.Title = "Randevu Oluştur";
}

<h2>Randevu Oluştur</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.Partial("_CustomerCarCreateOrEdit", Model)
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
