﻿@model IEnumerable<Tamirhane.Data.Appointment>

@{
    ViewBag.Title = "Index";
}

<h2>Randevu Listesi</h2>

<p>
    @Html.ActionLink("Yeni Randevu Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCar.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCar.Plate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </th>

        <th>
            İş Emri / Onay Bilgisi
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerCar.Plate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentDate)
        </td>
      
        <td>
            @string.Join(",", item.WorkOrder.Select(x => x.CreatedDate))
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detay", "Details", new { id = item.Id }) |
            @Html.ActionLink("İş Emri Oluştur / Onayla", "Create", "WorkOrder", new { AppointmentId = item.Id, }, null) |
            @Html.ActionLink("Sil", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
